body{
	background-image : url(https://4.bp.blogspot.com/-t_923UbmKwc/VvPgubfSgSI/AAAAAAAAKVk/2jwBbj9brMIfLisDwTh9PeUznfjJQ3TWg/s1600/rtdpcwp_02.jpg);
background-size:contain
}
div{
	font-family:Helvetica,Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN", "メイリオ",Meiryo, sans-serif;
}
.layerTransparent{
	background-color:rgba(255,255,255,0.5);
}
.display {
	text-align:center;
}
p1 {
	text-align:center;
	font-size:80px;
	font-weight: 900;
	letter-spacing: -10px;
	color: #090;
	text-shadow:
	3px 3px 1px #EFE,
	-3px 3px 1px #EFE,
	3px -3px 1px #EFE,
	-3px -3px 1px #EFE;
}
input {
width:800px;
  background-color:transparent;
	border: 0px;
	font-size:100px;
	vertical-align:middle;
	text-align:center;
	font-weight: bold;
	letter-spacing: -5px;
	color: #e22;
	text-shadow:
	3px 3px 1px #FEE,
	-3px 3px 1px #FEE,
	3px -3px 1px #FEE,
	-3px -3px 1px #FEE;
}
p2 {
	text-align:center;
	font-size:50px;
	font-weight: bold;
	letter-spacing: -3px;
	color: #111;
	text-shadow:
	1px 1px 1px #eee,
	-1px 1px 1px #eee,
	1px -1px 1px #eee,
	-1px -1px 1px #eee;
}
textarea {
	border: 0px;
	text-align:center;
	font-size:30px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #111;
	background-color:#fffdfb;
	overflow: scloll;
	-webkit-overflow-scrolling: touch;
}
p3 {
	text-align:center;
	font-size:10px;
	color: #111;
}
button {
	width:200px;
	font-size:30px;
	font-weight:bold;
	text-align:center;
	padding:8px 0 10px;
	color:#fff;
	background-color:#ff8c00;
	border-radius:10px;
}
