/* #filter
--------------------------- */
#filter {
    margin: 0 auto;
    padding: 30px;
    width: 450px;
    text-align: center;
}

#filter a:link { text-decoration:underline; color: #000;}
#filter a:visited { text-decoration:none; color: #000;}
#filter a:active { text-decoration:none; color: #000;}
#filter a:hover { text-decoration:none; color: #000;}
 
#filter .active {
    font-weight: bold;
}
#filter a.active:link { text-decoration:none; color: #000;}
#filter a.active:visited { text-decoration:none; color: #000;}
#filter a.active:active { text-decoration:none; color: #000;}
#filter a.active:hover { text-decoration:none; color: #000;}
 
/* #filterlist
--------------------------- */
#filterlist {
    margin: 0 auto;
    width: 450px;
    text-align: left;
}
 
#filterlist ul {
    margin: 0 auto;
    padding: 0;
    width: 450px;
    text-align: left;
}
 
#filterlist ul li {
    margin: 5px;
    width: 100px;
    text-align: center;
    font-size: small;
    float: left;
    display: inline;
    overflow: hidden;
}
 
#filterlist ul li img {
    width: 100px;
    height: 100px;
    float: left;
}
 
 
/* =======================================
    ClearFixElements
======================================= */
#filterlist ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
 
#filterlist ul {
    display: inline-block;
    overflow: hidden;
}

@media only screen and (max-device-width: 480px) {
  /* デバイス幅によって以下を適用 */
	
/* #filter
--------------------------- */
#filter {
    margin: 0 auto;
    padding: 10px;
    width: 310px;
    text-align: left;
}

#filter .active {
    font-weight: bold;
}
 
#filterlist {
    margin: 0 auto;
    width: 310px;
    text-align: left;
}
 
#filterlist ul {
    margin: 0 auto;
    padding: 0 auto;
    width: 310px;
    text-align: left;
}
 
#filterlist ul li {
    margin: 0px;
    width: 30%;
    text-align: left;
    font-size: x-small;
    float: left;
    overflow: hidden;
}
 
#filterlist ul li img {
    width: 50px;
    height: 50px;
    float: left;
}
 
}